@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900');

$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-background1: #FFF;
$colour-background2: #F6F6F6;
$colour-background3: #EAEAEA;
$colour-background4: #353535;
$colour-text1: #000;

// cercle violet index
$circle-diam:24px;

body {
  margin: auto;
  font-family: 'Roboto', sans-serif;
  color: $colour-text1;
  font-size: 16px;
}

h1 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0 0 40px 0;
  text-align: center;
}

h2 {
  color: $colour-text1;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 50px 0 30px 30px;
  text-align: left;
}

h4 {
  font-family: cursive;
  color: $colour-text1;
  font-weight: 400;
  font-size: 1.75rem;
  margin: 0;
  text-align: left;
}

a {
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
    color: $colour-text1; 
  }
}

.container-header {
  width: 100%;
  height: 62px;
  display: flex;
  justify-items: center;
  background-color: $colour-background1;
  position: relative;

  .logo-top {
    width: 166px;
    margin: auto;
  }
}

.localisation {
  font-size: 1rem;
  color: $colour-text1;
  height: 50px;
  background-color: $colour-background3;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    margin-right: 10px;
  }
}

.container {
  background-color: $colour-background2;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    text-align: center;
    font-weight: 300;
    font-size: 1.125rem;
    margin-bottom: 30px;
  }
}

button {
  font-weight: 400;
  font-size: 1rem;
  border: none;
}

.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 220px;
  height: 50px;
  color: $colour-text1;
  border-radius: 30px;
  background: linear-gradient(175deg, $colour-secondary 10%, $colour-primary 90%);
  color: $colour-background1;
}

.operation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $colour-background1;
  margin: 20px;

  .choice {
    width: 336px;
    height: 74px;
    background: $colour-background2;
    border-radius: 20px;
    margin-bottom: 24px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    &--pink {
      background: lighten($colour-primary, 35%);
    }

    i {
      padding: 0 18px 0 30px;
    }

    &:nth-child(1) i {
      font-size: 1.2rem;
    }


    .circle-num {
      width: $circle-diam;
      height: $circle-diam;
      position: relative;
      left: ($circle-diam/2)*-1;

      .circle {
        width: $circle-diam;
        height: $circle-diam;
        background-color: $colour-primary;
        z-index: 4;
        position: absolute;
        border-radius: 50%;
      }

      .number {
        color: $colour-background1;
        z-index: 5;
        position: absolute;
        width: $circle-diam;
        height: $circle-diam;
        font-weight: 400;
        font-size: 0.85rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.restaurants {
  background-color: $colour-background2;
  padding: 1px 20px 40px 20px;
  display: flex;
  flex-direction: column;

  .card {
    width: 336px;
    display: flex;
    align-self: center;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 15px;
    background-color: $colour-background1;
    position: relative;

    &__photo {
      position: relative;
      overflow: hidden;
      height: 180px;

      img {
        width: 100%;
      }
    }

    &-desc {
      margin: 15px;
      position: relative;

      h3 {
        margin: 0;
      }

      &__name {
        padding-bottom: 5px;
      }

      &__city {
        font-weight: 300;
      }

      &__favorite {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        height: 100%;
        width: 20%;
      }
    }

    &__label {
      position: absolute;
      width: 80px;
      height: 30px;
      background-color: $colour-tertiary;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      font-size: 0.85rem;
      color: darken($colour-tertiary, 40%);
      top: 15px;
      right: 15px;
    }
  }
}

footer {
  background-color: $colour-background4;
  color: $colour-background1;
  font-size: 1rem;
  font-weight: 300;
  padding: 25px;
  padding-bottom: 35px;

  .logo img {
    width: 100px;
    height: 20px;
    padding-bottom: 10px;
  }

  .footer-menu {
    line-height: 27px;
  }

  i {
    margin-right: 10px;
    font-size: 0.9rem;
  }
}

footer a {
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
    color: $colour-background1;
  }
}

footer a:hover {
  color: $colour-tertiary;
}
