@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900");
body {
  margin: auto;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 16px;
}

h1 {
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
  margin: 0 0 40px 0;
}

h2 {
  text-align: left;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 50px 0 30px 30px;
  color: #000;
}

h4 {
  font-family: cursive;
  color: #000;
  font-weight: 400;
  font-size: 1.75rem;
  margin: 0;
  text-align: left;
}

a:visited, a:link, a:active {
  text-decoration: none;
  color: #000;
}

.spinner-container {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #353535;
  opacity: 1;
  -webkit-animation: loader-page 3s ease-in-out normal forwards;
          animation: loader-page 3s ease-in-out normal forwards;
}

.spinner {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
  -webkit-animation: spinner 0.75s linear infinite;
          animation: spinner 0.75s linear infinite;
}

.spinner span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.spinner .spinner-inner-1 {
  background: -webkit-gradient(linear, left top, right top, from(rgba(147, 86, 220, 0)), color-stop(50%, rgba(147, 86, 220, 0)), color-stop(51%, #9356DC));
  background: linear-gradient(to right, rgba(147, 86, 220, 0) 0%, rgba(147, 86, 220, 0) 50%, #9356DC 51%);
}

.spinner .spinner-inner-2 {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(53, 53, 53, 0)), to(#353535));
  background: linear-gradient(to top, rgba(53, 53, 53, 0) 0%, #353535 100%);
}

.spinner .spinner-inner-3 {
  top: 20px;
  left: 20px;
  width: 160px;
  height: 160px;
  background: #353535;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-page {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loader-page {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  justify-items: center;
  width: 100%;
  height: 62px;
  background-color: #FFF;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

.header .logo-top {
  width: 170px;
  margin: auto;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  height: 50px;
  background-color: #EAEAEA;
  color: #000;
}

.localisation i {
  margin-right: 10px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  background-color: #F6F6F6;
}

.container > div {
  text-align: center;
  font-weight: 300;
  font-size: 1.125rem;
  margin-bottom: 30px;
}

a {
  font-weight: 400;
  font-size: 1rem;
  border: none;
}

a p {
  color: #FFF;
}

.button-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 220px;
  height: 50px;
  color: #000;
  border-radius: 30px;
  background: linear-gradient(175deg, #FF79DA 10%, #9356DC 90%);
  color: #FFF;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-box-shadow 150ms linear, -webkit-transform 150ms linear;
  transition: -webkit-box-shadow 150ms linear, -webkit-transform 150ms linear;
  transition: box-shadow 150ms linear, transform 150ms linear;
  transition: box-shadow 150ms linear, transform 150ms linear, -webkit-box-shadow 150ms linear, -webkit-transform 150ms linear;
}

.button-main:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.operation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  background-color: #FFF;
}

.operation-container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 336px;
  height: 74px;
  border-radius: 20px;
  margin-bottom: 24px;
  font-weight: 500;
  background: #F6F6F6;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

.operation-container .box--pink {
  background: #f2eafb;
}

.operation-container .box i {
  padding: 0 20px 0 10px;
}

.operation-container .box:nth-child(1) i {
  font-size: 1.2rem;
}

.operation-container .box .circle-num {
  position: relative;
  width: 24px;
  height: 24px;
  left: -12px;
}

.operation-container .box .circle-num .circle {
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
}

.operation-container .box .circle-num .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 1;
  width: 24px;
  height: 24px;
  font-weight: 400;
  font-size: 0.90rem;
  color: #FFF;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 25px 45px 25px;
  background-color: #F6F6F6;
}

.restaurants .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  overflow: hidden;
  width: 340px;
  margin-bottom: 35px;
  border-radius: 20px;
  background-color: #FFF;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

.restaurants .page__photo {
  position: relative;
  overflow: hidden;
  height: 184px;
}

.restaurants .page__photo img {
  width: 100%;
}

.restaurants .page-set {
  position: relative;
  margin: 15px;
}

.restaurants .page-set h3 {
  margin: 0;
}

.restaurants .page-set__name {
  padding-bottom: 5px;
}

.restaurants .page-set__city {
  font-weight: 300;
}

.restaurants .page-set__heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  height: 100%;
  width: 20%;
}

.restaurants .page__new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 30px;
  font-weight: 500;
  font-size: 0.85rem;
  top: 15px;
  right: 15px;
  color: #1b6150;
  background-color: #99E2D0;
}

.page-set__heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.coeur2 {
  color: #000;
}

.coeur2:hover {
  -webkit-animation: grow-plus 250ms;
          animation: grow-plus 250ms;
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
}

.coeur2:hover + .coeur1 {
  -webkit-animation: grow 250ms;
          animation: grow 250ms;
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.coeur1 {
  background: linear-gradient(15deg, #FF79DA 17%, #9356DC 91%);
  -webkit-transform: scale(0);
          transform: scale(0);
  background-clip: initial;
  -webkit-background-clip: text;
  color: transparent;
}

.coeur1 {
  position: absolute;
  z-index: 1;
}

.coeur2 {
  position: absolute;
  z-index: 2;
}

.coeur3 {
  position: absolute;
  z-index: 3;
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes grow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  90% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes grow-plus {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes grow-plus {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.background-image {
  max-height: 270px;
  margin-bottom: -50px;
}

.background-image img {
  width: 100%;
  max-height: 1000px;
}

.button-back {
  position: absolute;
  height: 35px;
  width: 35px;
  margin: 12px;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0px solid #EAEAEA;
  border-radius: 50%;
}

.button-back:hover {
  border: 1px solid #e7e7e7;
}

.menus {
  background-color: #F6F6F6;
  border-radius: 42px 42px 0px 0px;
  padding: 35px 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menus .top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  position: relative;
}

.menus .top-menu .page-set__heart {
  font-size: 1.5rem;
  color: #000;
  padding-right: 20px;
  margin-right: 15px;
}

.menus .choice-dish {
  margin-bottom: 32px;
}

.menus .choice-dish .title {
  color: #000;
  font-size: 1rem;
  font-weight: 200;
}

.menus .choice-dish .under-ligne {
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
  margin: 5px 0 12px 0;
}

.menus .choice-dish .dish {
  width: calc(100% - 40px);
  background-color: #FFF;
  border-radius: 15px;
  padding: 12px;
  padding-right: 25px;
  position: relative;
  margin-bottom: 12px;
  top: 45px;
  opacity: 0;
  -webkit-animation: move-card 3s cubic-bezier(0, 0, 0, 1) forwards;
          animation: move-card 3s cubic-bezier(0, 0, 0, 1) forwards;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(39, 37, 37, 0.15);
          box-shadow: 0px 5px 10px 0px rgba(39, 37, 37, 0.15);
  overflow: hidden;
}

.menus .choice-dish .dish__name {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1;
}

.menus .choice-dish .dish__ligne2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menus .choice-dish .dish__set {
  font-size: 1rem;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menus .choice-dish .dish__price {
  font-size: 1rem;
  font-weight: bold;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

.menus .choice-dish .dish__check {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
}

.menus .choice-dish .dish__check__background {
  width: 60px;
  height: 100%;
  background: #99E2D0;
}

.menus .choice-dish .dish__check__icon {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  color: #FFF;
  font-size: 1.3rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition-duration: 650ms;
          transition-duration: 650ms;
}

.menus .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0 50px 0;
}

.dish:hover .dish__check {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.dish:hover .dish__check__icon {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.dish:hover .dish__price {
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
}

.dish:hover .dish__name {
  width: 80%;
}

.dish:hover .dish__set {
  width: 65%;
}

@-webkit-keyframes move-card {
  0% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    opacity: 1;
  }
}

@keyframes move-card {
  0% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    opacity: 1;
  }
}

footer {
  font-size: 1rem;
  font-weight: 300;
  padding: 25px;
  padding-bottom: 35px;
  background-color: #353535;
  color: #FFF;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  position: relative;
}

footer .logo img {
  width: 95px;
  height: 20px;
  padding-bottom: 10px;
}

footer .footer-menu {
  line-height: 25px;
}

footer i {
  margin-right: 10px;
  font-size: 0.9rem;
}

footer a:visited, footer a:link, footer a:active {
  text-decoration: none;
  color: #FFF;
}

footer a:hover {
  color: #99E2D0;
}
/*# sourceMappingURL=style.css.map */