@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900");
body {
  margin: auto;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 16px;
}

h1 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0 0 40px 0;
  text-align: center;
}

h2 {
  color: #000;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 50px 0 30px 30px;
  text-align: left;
}

h4 {
  font-family: cursive;
  color: #000;
  font-weight: 400;
  font-size: 1.75rem;
  margin: 0;
  text-align: left;
}

a:visited, a:link, a:active {
  text-decoration: none;
  color: #000;
}

.container-header {
  width: 100%;
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  background-color: #FFF;
  position: relative;
}

.container-header .logo-top {
  width: 166px;
  margin: auto;
}

.localisation {
  font-size: 1rem;
  color: #000;
  height: 50px;
  background-color: #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.localisation i {
  margin-right: 10px;
}

.container {
  background-color: #F6F6F6;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container > div {
  text-align: center;
  font-weight: 300;
  font-size: 1.125rem;
  margin-bottom: 30px;
}

.operation-container {
  background-color: #FFF;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.operation-container .choice {
  width: 336px;
  height: 74px;
  background: #F6F6F6;
  border-radius: 20px;
  margin-bottom: 24px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.operation-container .choice--pink {
  background: #f2eafb;
}

.operation-container .choice i {
  padding: 0 18px 0 30px;
}

.operation-container .choice:nth-child(1) i {
  font-size: 1.2rem;
}

.operation-container .choice .circle-num {
  width: 24px;
  height: 24px;
  position: relative;
  left: -12px;
}

.operation-container .choice .circle-num .circle {
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  z-index: 4;
  position: absolute;
  border-radius: 50%;
}

.operation-container .choice .circle-num .number {
  color: #FFF;
  z-index: 5;
  position: absolute;
  width: 24px;
  height: 24px;
  font-weight: 400;
  font-size: 0.85rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 1px 20px 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurants .card {
  width: 336px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 15px;
  background-color: #FFF;
  position: relative;
}

.restaurants .card__photo {
  position: relative;
  overflow: hidden;
  height: 180px;
}

.restaurants .card__photo img {
  width: 100%;
}

.restaurants .card-desc {
  margin: 15px;
  position: relative;
}

.restaurants .card-desc h3 {
  margin: 0;
}

.restaurants .card-desc__name {
  padding-bottom: 5px;
}

.restaurants .card-desc__city {
  font-weight: 300;
}

.restaurants .card-desc__favorite {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  height: 100%;
  width: 20%;
}

.restaurants .card__label {
  position: absolute;
  width: 80px;
  height: 30px;
  background-color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  font-size: 0.85rem;
  color: #278870;
  top: 15px;
  right: 15px;
}

footer {
  background-color: #353535;
  color: #FFF;
  font-size: 1rem;
  font-weight: 300;
  padding: 25px;
  padding-bottom: 35px;
}

footer .logo img {
  width: 100px;
  height: 20px;
  padding-bottom: 10px;
}

footer .footer-menu {
  line-height: 27px;
}

footer i {
  margin-right: 10px;
  font-size: 0.9rem;
}

footer a:visited, footer a:link, footer a:active {
  text-decoration: none;
  color: #FFF;
}

footer a:hover {
  color: #99E2D0;
}
/*# sourceMappingURL=style.css.map */