@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900');

$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-background1: #FFF;
$colour-background2: #F6F6F6;
$colour-background3: #EAEAEA;
$colour-background4: #353535;
$colour-text1: #000;

body {
  margin: auto;
  font-family: 'Roboto', sans-serif;
  color: $colour-text1;
  font-size: 16px;
}

.container-header {
  width: 100%;
  height: 62px;
  display: flex;
  justify-items: center;
  background-color: $colour-background1;
  position: relative;

  .logo-top {
      width: 166px;
      margin: auto;
  }
}

h1 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0 0 40px 0;
  text-align: center;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: $colour-text1;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 50px 0 30px 30px;
  text-align: left;
}

h4 {
  font-family: cursive;
  color: $colour-text1;
  font-weight: 400;
  font-size: 1.75rem;
  margin: 0;
  text-align: left;
}

a {
  &:visited,
  &:link,
  &:active {
      text-decoration: none;
      color: $colour-text1; 
  }
}

footer {
  background-color: $colour-background4;
  color: $colour-background1;
  font-size: 1rem;
  font-weight: 300;
  padding: 25px;
  padding-bottom: 35px;

  .logo img {
      width: 100px;
      height: 20px;
      padding-bottom: 10px;
  }

  .footer-menu {
      line-height: 27px;
  }

  i {
      margin-right: 10px;
      font-size: 0.9rem;
  }
}

footer a {
  &:visited,
  &:link,
  &:active {
      text-decoration: none;
      color: $colour-background1;
  }
}

footer a:hover {
  color: $colour-tertiary;
}
