@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900');

$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-background1: #FFF;
$colour-background2: #F6F6F6;
$colour-background3: #EAEAEA;
$colour-background4: #353535;
$colour-text-primary: #000;

$size: 200px;

// cercle violet index
$circle-diam:24px;

// coeurs
$duree-fav: 250ms;
$heart-size: 24px;

//page menu
$distance: -45px;
$duree-card: 1s;
$anim-delay: $duree-card / 6;

body {
  margin: auto;
  font-family: 'Roboto', sans-serif;
  color: $colour-text-primary;
  font-size: 16px;
}

h1 {
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
  margin: 0 0 40px 0;
}

h2 {
  text-align: left;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 50px 0 30px 30px;
  color: $colour-text-primary;
}

h4 {
  font-family: cursive;
  color: $colour-text-primary;
  font-weight: 390;
  font-size: 1.75rem;
  margin: 0;
  text-align: left;
}

a {
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
    color: $colour-text-primary; 
  }
}

.spinner-container {
  position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    z-index: 20;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: $colour-background4;

    opacity: 1;
    animation: loader-page 3s ease-in-out normal forwards;
}
.spinner {
  position: absolute;
  top: calc(50% - #{$size / 2});
  left: calc(50% - #{$size / 2});
  width: $size;
  height: $size;
  animation: spinner 0.75s linear infinite;

  span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .spinner-inner-1 {
    background: linear-gradient(to right, rgba($colour-primary,0) 0%,rgba($colour-primary,0) 50%,$colour-primary 51%);
  }
  
  .spinner-inner-2 {
    background: linear-gradient(to top, rgba($colour-background4,0) 0%,$colour-background4 100%);
  }
  
  .spinner-inner-3 {
    $offset: $size * 0.1;
    top: $offset;
    left: $offset;
    width: $size - ($offset * 2);
    height: $size - ($offset * 2);
    background: $colour-background4;
  }
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.header {
  display: flex;
  position: relative;
  justify-items: center;
  width: 100%;
  height: 62px;
  background-color: $colour-background1;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);

  .logo-top {
    width: 170px;
    margin: auto;
  }
}

.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  height: 50px;
  background-color: $colour-background3;
  color: $colour-text-primary;

  i {
    margin-right: 10px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: $colour-background2;

  > div {
    text-align: center;
    font-weight: 300;
    font-size: 1.125rem;
    margin-bottom: 30px;
  }
}

a {
  font-weight: 400;
  font-size: 1rem;
  border: none;
  p {
    color: $colour-background1;
  }

}

.button-main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 220px;
  height: 50px;
  color: $colour-text-primary;
  border-radius: 30px;
  background: linear-gradient(175deg, $colour-secondary 10%, $colour-primary 90%);
  color: $colour-background1;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.30);
  transition: box-shadow 150ms linear, transform 150ms linear;

  &:hover {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.30);
    transform: scale(0.98);
  }
}

.operation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background-color: $colour-background1;

  .box {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 336px;
    height: 74px;
    border-radius: 20px;
    margin-bottom: 24px;
    font-weight: 500;
    background: $colour-background2;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);

    &--pink {
      background: lighten($colour-primary, 35%);
    }

    i {
      padding: 0 20px 0 10px;
    }

    &:nth-child(1) i {
      font-size: 1.2rem;
    }


    .circle-num {
      position: relative;
      width: $circle-diam;
      height: $circle-diam;
      left: ($circle-diam/2)*-1;

      .circle {
        position: absolute;
        z-index: 1;
        border-radius: 50%;
        width: $circle-diam;
        height: $circle-diam;
        background-color: $colour-primary;
      }

      .number {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 1;
        width: $circle-diam;
        height: $circle-diam;
        font-weight: 420;
        font-size: 0.90rem;
        color: $colour-background1;
      }
    }
  }
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 5px 25px 45px 25px;
  background-color: $colour-background2;

  .page {
    display: flex;
    align-self: center;
    position: relative;
    overflow: hidden;
    width: 340px;
    margin-bottom: 35px;
    border-radius: 20px;
    background-color: $colour-background1;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);

    &__photo {
      position: relative;
      overflow: hidden;
      height: 184px;

      img {
        width: 100%;
      }
    }

    &-desc {
      position: relative;
      margin: 15px;

      h3 {
        margin: 0;
      }

      &__name {
        padding-bottom: 5px;
      }

      &__city {
        font-weight: 300;
      }

      &__heart {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        font-size: 1.5rem;
        height: 100%;
        width: 20%;
      }
    }

    &__new {
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 30px;
      font-weight: 500;
      font-size: 0.85rem;
      top: 15px;
      right: 15px;
      color: darken($colour-tertiary, 50%);
      background-color: $colour-tertiary;
    }
  }
}

.page-desc__heart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.coeur2 {
  color: $colour-text-primary;

  &:hover {
    animation: grow-plus $duree-fav;
    transition: transform $duree-fav ease;
  }

  &:hover + .coeur1 {
    animation: grow $duree-fav;
    transition: transform $duree-fav ease;
    animation-fill-mode: forwards;
  }
}

.coeur1 {
  background: linear-gradient(15deg, $colour-secondary 17%, $colour-primary 91%);
  transform: scale(0);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@for $i from 1 through 3 {
  .coeur#{$i} {
    position: absolute;
    z-index: $i;
  }
}

@keyframes grow {
  0% {
    transform: scale(0);
  }

  90% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes grow-plus {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1);
  }

  90% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.bg-image {
  max-height: 270px;

  img {
    width: 100%;
  }
}

.bt-back {
  position: absolute;
  height: 35px;
  width: 35px;
  margin: 12px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px solid $colour-background3;
  border-radius: 50%;

  &:hover {
    border: 1px solid darken($colour-background3, 1%);
  }
}

.menus {
  background-color: $colour-background2;
  border-radius: 42px 42px 0px 0px;
  padding: 35px 20px;
  position: relative;
  display: flex;
  flex-direction: column;

  .top-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;

  .page-desc__heart {
    font-size: 1.5rem;
    color: $colour-text-primary;
    padding-right: 20px;
    margin-right: 15px;
    }
  }

  .choix-plat {
    margin-bottom: 32px;

    .titre {
      color: $colour-text-primary;
      font-size: 1rem;
      font-weight: 200;
    }

    .filet {
      height: 3px;
      width: 40px;
      background-color: $colour-tertiary;
      margin: 5px 0 12px 0;
    }

    .plat {
      width: calc(100%-40px);
      min-width: 350px;
      background-color: $colour-background1;
      border-radius: 15px;
      padding: 12px;
      padding-right: 25px;
      position: relative;
      margin-bottom: 12px;
      overflow: hidden;
      top: $distance*-1;
      opacity: 0;
      animation: move-card $duree-card cubic-bezier(0, 0, 0, 1) forwards;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);

      &__nom {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.8rem;
      }

      &__ligne2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      &__desc {
        font-size: 1rem;
        font-weight: 300;
        transition-property: width;
        transition-duration: 400ms;
      }

      &__prix {
        font-size: 1rem;
        font-weight: bold;
        transition-duration: 400ms;
      }

      &__valid {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        transition-duration: 400ms;
        transform: translateX(60px);

        &__bg {
          width: 60px;
          height: 100%;
          background: $colour-tertiary;
        }

        &__icon {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          color: $colour-background1;
          font-size: 1.3rem;
          transform: rotate(360deg);
          transition-duration: 650ms;
        }
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin: 10px 0 50px 0;
  }
}

.plat {
  &:hover &__valid {
    transform: translateX(0px);
  }

  &:hover &__valid__icon {
    transform: rotate(0deg);
  }

  &:hover &__prix {
    transform: translateX(-60px);
  }

  &:hover &__desc::after {
    justify-content: space-between;
  }

}

@keyframes move-card {
  0% {
    opacity: 0;
  }

  100% {
    transform: translateY($distance);
    opacity: 1;
  }
}

footer {
  font-size: 1rem;
  font-weight: 300;
  padding: 25px;
  padding-bottom: 35px;
  background-color: $colour-background4;
  color: $colour-background1;

  .logo img {
    width: 95px;
    height: 20px;
    padding-bottom: 10px;
  }

  .footer-menu {
    line-height: 25px;
  }

  i {
    margin-right: 10px;
    font-size: 0.9rem;
  }
}

footer a {
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
    color: $colour-background1;
  }

  &:hover {
    color: $colour-tertiary;
  }
}
