$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-background1: #FFF;
$colour-background2: #F6F6F6;
$colour-background3: #EAEAEA;
$colour-background4: #353535;
$colour-text-primary: #000;

//animation 
$size: 200px;

// cercle violet index
$circle-diam:24px;

// coeurs
$duree-fav: 250ms;
$heart-size: 24px;

//page menu
$distance: -45px;
$duree-card: 3s;
$anim-delay: $duree-card / 6;